.caja-modulo{
    background: $blue-light;
    padding: 20px;
    box-shadow: 3px 3px 2px rgba(black,.1);
    cursor: pointer;
    transition: all 0.3s;
    &__circulo{
        height: 100px;
        width: 100px;
        border-radius: 50%;
        background: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__icon{
        font-size: 50px;
        color: $blue-extra-dark;
    }
    &:hover{
        transform: scale(1.02);
        box-shadow: 5px 5px 5px rgba(black,.1);
    }
}
