.mybutton{
    background-color: $blue-primary;
    border-radius: 100px;
    border: none;
    box-shadow: 3px 3px 2px rgba(black,.1);
    color:white;
    padding: 10px 20px 10px 20px;
    transition: all .3s;
    &:hover{
        transform: scale(1.02);
        box-shadow: 5px 5px 5px rgba(black,.1);
        color:white;
    }
    &:active{
        transform: scale(0.99);
        box-shadow: 2px 2px 1px rgba(black,.1);
        color:white;
    }
}
