.myinput{
    border-radius: 100px;
    padding: 10px 20px 10px 20px;
    transition: all .3s;
    height: auto;
    &:hover{
        transform: scale(1.02);
        box-shadow: 5px 5px 5px rgba(black,.1);
    }
}
