<template>
    <div>
        <Loading :active.sync="isBusy"
                 :can-cancel="false"
                 :is-full-page="true" color="#005D9C" loader="dots"></Loading>
        <navbar-component />
        <transition name="slide-fade"
                    mode="out-in">
            <router-view></router-view>
        </transition>
    </div>
</template>

<script>
    import NavbarComponent from "../components/NavbarComponent";
    import {EventBus} from "../EventBus";
    export default {
        components:{
            NavbarComponent
        },
        data(){
            return {
                isBusy: false,
            }
        },
        mounted() {
            EventBus.$on('loading', ()=>{this.isBusy = true});
            EventBus.$on('loading-close', ()=>{this.isBusy = false});
        }
    }
</script>

<style scoped>
    .slide-fade-enter-active {
        transition: all 1s ease;
    }

    .slide-fade-enter, .slide-fade-leave-to
        /* .slide-fade-leave-active below version 2.1.8 */
    {
        transform: translateY(-20px);
        opacity: 0;
    }
</style>
