.encabezado{
    height: 200px;
    background: $blue-extra-dark;
    @include center-content;
    &__content{
        width: 100%;
        @include center-content;
    }
    &__circle{
        width: 120px;
        height: 120px;
        background: white;
        border-radius: 50%;
        @include center-content;
    }
    &__icon{
        font-size: 60px;
        color: $blue-extra-dark;
    }
}
