.mynav{
    box-shadow: 0 5px 5px rgba(black,.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    background: white;
    &__img{
        width: 60px;
    }
}

@include media-breakpoint-down(sm){
    .mynav__img{
        width: 50px;
    }
}
