<template>
    <div class="encabezado">
        <div>
            <div class="encabezado__content">
                <div class="encabezado__circle"><i :class="'encabezado__icon '+icon"></i></div>
            </div>
            <h1 class="text-center text-white">{{titulo}}</h1>
        </div>
    </div>
</template>

<script>
    export default {
        props:['titulo','icon']
    }
</script>
