<template>
    <div class="mynav py-2">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col col-auto d-flex pl-0 clickeable" @click="$router.push({name: 'admin-index'})">
                    <div><img src="/img/EscudoUsta.png" class="mynav__img"></div>
                    <div class="d-flex align-items-center ml-2"><h1 class="mb-0">HorariosUSTA</h1></div>
                </div>
                <div class="col col-auto d-flex pr-0">
                    <div class="mr-2 d-none d-md-block">
                        <h2 class="mb-0">William Peñaranda</h2>
                        <p class="text-right mb-0">Administrador</p>
                    </div>
                    <div><img src="/img/user-image.svg" class="mynav__img"></div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {

    }
</script>
