body{
    font-family: $body-font;
    font-size: $paragraph-size;
    color: $dark-gray;
    padding-top: 77px;
}

.row{
    margin-left: 0 !important;
    margin-right: 0 !important;
}

h1{
    font-size: 30px;
    font-weight: bold;
    color:$blue-primary;
}

h2{
    font-size: 25px;
    color:$blue-primary;
}

h3{
    font-size: 25px;
    color:$blue-extra-dark;
}

@include media-breakpoint-down(sm) {
    h1{
        font-size: 20px;
    }

    h2{
        font-size: 18px;
    }

    h3{
        font-size: 18px;
    }
}

//NORMALIZE PAGINATOR
.page-item.active .page-link {
    background-color: $blue-primary;
    border-color: $blue-primary;
}

.page-link{
    color: $blue-primary;
}
