//colors
$blue-primary:#005D9C;
$blue-light:#DAF0FF;
$blue-extra-dark:#434553;

$light-gray: #D3D3D3;
$dark-gray: #707070;

//font
$body-font: 'Quicksand';
$paragraph-size:16px;
$heading-size:30px;
$small-text-size:14px;

