<template>
    <div>
        <encabezado icon="fas fa-school" titulo="Salones" />
    </div>
</template>

<script>
    import Encabezado from "../../../components/Encabezado";
    export default {
        components: {Encabezado},
    }
</script>
