<template>
    <div>
        <ValidationObserver ref="observer" tag="form" @submit.prevent="guardar()">
            <div class="form-group">
                <ValidationProvider rules="required" v-slot="{ errors }" name="nombre">
                    <input v-model="form.name" class="form-control" placeholder="Nombre">
                    <small class="text-danger">{{errors[0]}}</small>
                </ValidationProvider>
            </div>
            <div class="form-group">
                <ValidationProvider rules="required|email" v-slot="{ errors }" name="email">
                    <input v-model="form.email" class="form-control" placeholder="Email">
                    <small class="text-danger">{{errors[0]}}</small>
                </ValidationProvider>
            </div>
            <div class="form-group">
                <ValidationProvider rules="required|numeric" v-slot="{ errors }" name="identificación">
                    <input v-model="form.identificacion" class="form-control" placeholder="Identificación">
                    <small class="text-danger">{{errors[0]}}</small>
                </ValidationProvider>
            </div>
            <div class="row justify-content-center">
                <button class="btn mybutton" type="submit">Guardar</button>
            </div>
        </ValidationObserver>
    </div>
</template>

<script>
    export default {
        name: "DocenteForm",

        props: {
            itemData:{
                required: true,
            }
        },

        watch: {
            itemData(){
                this.actualizarForm()
            }
        },

        data() {
            return {
                form:{
                    identificacion:"",
                    name:"",
                    email:""
                }
            }
        },

        methods: {
            async guardar(){
                let pasoValidacion = await this.$refs.observer.validate();
                if (pasoValidacion) {
                    this.$emit('guardar', this.form)
                }else{
                    this.$swal({
                        title: "Error!",
                        text: 'Debes corregir los errores antes de enviar',
                        icon: "error",
                    })
                }
            },
            actualizarForm(){
                if(this.$props.itemData !== null) {
                    this.form = this.$props.itemData.item;
                }
            }
        },

        mounted() {
            this.actualizarForm()
        }
    }
</script>
