<template>
    <div>
        <encabezado icon="fas fa-chalkboard-teacher" titulo="Docentes" />
        <b-modal :title="accion+' Docente'" v-model="isModalOpen" hide-footer>
            <DocenteForm @guardar="(data)=>{handleSubmit(data)}" :item-data="editarRegistro" />
        </b-modal>
        <div class="container">
            <div class="row justify-content-between my-5">
                <div class="col col-12 col-md-8 col-lg-9">
                    <input v-model="filterText" class="form-control myinput" @change="onFilterSet" placeholder="Buscar docente">
                </div>
                <div class="col col-12 col-md-4 col-lg-3">
                    <button class="btn mybutton" @click="mostrarFormAgregar"><i class="fas fa-plus"></i> Agregar docente</button>
                </div>
            </div>
            <b-table striped hover :items="items" :fields="fields">
                <template v-slot:cell(acciones)="item">
                    <button class="btn btn-danger"><i class="fas fa-trash"></i> Eliminar</button>
                    <button class="btn btn-outline-info" @click="mostrarFormEditar(item)"><i class="fas fa-edit"></i> Editar</button>
                </template>
            </b-table>
            <div class="col-12">
                <b-pagination
                    v-model="currentPage"
                    :total-rows="rows"
                    :per-page="perPage"
                    aria-controls="my-table"
                    align="center"
                    @change="paginacion"
                ></b-pagination>
            </div>
        </div>
    </div>
</template>

<script>
    import Encabezado from "../../../components/Encabezado";
    import DocentesService from "../../../services/DocentesService";
    import {EventBus} from "../../../EventBus";
    import DocenteForm from "./DocenteForm";

    export default {
        components: {Encabezado, DocenteForm},
        mounted() {
            let query = '?page=1&per_page=' + this.perPage;
            this.index(query)
        },
        data(){
          return {
              items: [],
              fields: [
                  {
                      label: 'Nombre',
                      key: 'name',
                      sortable: true
                  },
                  {
                      key: 'email',
                      sortable: true
                  },
                  {
                      key: 'identificacion',
                      label: 'Identificación',
                      sortable: true,
                  },
                  'acciones'
              ],
              filterText: '',
              currentPage: 1,
              rows: 1,
              perPage: 10,
              isModalOpen: false,
              accion:'Agregar',
              editarRegistro: null,
              alertaLabel: 'El docente'
          }
        },
        methods:{
            index(query){
                EventBus.$emit('loading');
                DocentesService.all(query).then((resp)=>{
                    this.items = resp.data.data.data;
                    this.currentPage = resp.data.data.current_page;
                    this.rows = resp.data.data.total;
                }).catch((error)=>{
                    this.$swal({
                        title: "Error!",
                        text: error.response.data.message.toString(),
                        icon: "error",
                    })
                }).finally(()=>{
                    EventBus.$emit('loading-close');
                })
            },
            paginacion(page) {
                let query = '';
                if (this.filterText !== '') {
                    query = '?page=' + page + '&per_page=' + this.perPage + "&termino=" + this.filterText;
                } else {
                    query = '?page=' + page + '&per_page=' + this.perPage;
                }
                this.index(query);
            },
            onFilterSet() {
                let query = '';
                if (this.filterText) {
                    query += '?page=1&per_page=' + this.perPage + "&termino=" + this.filterText;
                } else {
                    query += '?page=1&per_page=' + this.perPage;
                }
                this.index(query);
            },
            mostrarFormAgregar(){
                this.accion = 'Agregar';
                this.isModalOpen = true;
                this.editarRegistro = null;
            },
            mostrarFormEditar(item){
                this.accion = 'Editar';
                this.isModalOpen = true;
                this.editarRegistro = item;
            },
            handleSubmit(data){
                EventBus.$emit('loading')
                if(this.accion === 'Agregar'){
                    this.guardarRegistro(data)
                }else{
                    this.actualizarRegistro(data)
                }
            },
            async guardarRegistro(data){
                try{
                    await DocentesService.store(data);
                    EventBus.$emit('loading-close');
                    this.isModalOpen = false;
                    this.alertaSuccess('guardó',()=>{
                        let query = '?page=1&per_page=' + this.perPage;
                        this.filterText = '';
                        this.index(query)
                    })
                }catch(error){
                    EventBus.$emit('loading-close');
                    this.$swal({
                        title: "Error!",
                        text: error.response.data.error.toString(),
                        icon: "error",
                    })
                }
            },
            async actualizarRegistro(data){
                try{
                    await DocentesService.update(data.id,data);
                    EventBus.$emit('loading-close');
                    this.isModalOpen = false;
                    this.alertaSuccess('actualizó',()=>{
                        let query = '?page=1&per_page=' + this.perPage;
                        this.filterText = '';
                        this.index(query)
                    })
                }catch(error){
                    this.$swal({
                        title: "Error!",
                        text: error.response.data.error.toString(),
                        icon: "error",
                    })
                }
            },

        },
    }
</script>
