<template>
    <div>
        <div class="container my-5">
            <div class="row justify-content-between">
                <div class="col col-12 col-md-6 col-lg-4 p-1">
                    <div class="caja-modulo" @click="$router.push({name: 'admin-docentes'})">
                        <div class="d-flex justify-content-center mb-2">
                            <div class="caja-modulo__circulo">
                                <i class="fas fa-chalkboard-teacher caja-modulo__icon"></i>
                            </div>
                        </div>
                        <h3 class="text-center">Docentes</h3>
                    </div>
                </div>
                <div class="col col-12 col-md-6 col-lg-4 p-1">
                    <div class="caja-modulo" @click="$router.push({name: 'admin-estudiantes'})">
                        <div class="d-flex justify-content-center mb-2">
                            <div class="caja-modulo__circulo">
                                <i class="fas fa-user-graduate caja-modulo__icon"></i>
                            </div>
                        </div>
                        <h3 class="text-center">Estudiantes</h3>
                    </div>
                </div>
                <div class="col col-12 col-md-6 col-lg-4 p-1">
                    <div class="caja-modulo" @click="$router.push({name: 'admin-asignaturas'})">
                        <div class="d-flex justify-content-center mb-2">
                            <div class="caja-modulo__circulo">
                                <i class="fas fa-tasks caja-modulo__icon"></i>
                            </div>
                        </div>
                        <h3 class="text-center">Asignaturas</h3>
                    </div>
                </div>
                <div class="col col-12 col-md-6 col-lg-4 p-1">
                    <div class="caja-modulo" @click="$router.push({name: 'admin-salones'})">
                        <div class="d-flex justify-content-center mb-2">
                            <div class="caja-modulo__circulo">
                                <i class="fas fa-school caja-modulo__icon"></i>
                            </div>
                        </div>
                        <h3 class="text-center">Salones</h3>
                    </div>
                </div>
                <div class="col col-12 col-md-6 col-lg-4 p-1">
                    <div class="caja-modulo" @click="$router.push({name: 'admin-clases'})">
                        <div class="d-flex justify-content-center mb-2">
                            <div class="caja-modulo__circulo">
                                <i class="fas fa-calendar-alt caja-modulo__icon"></i>
                            </div>
                        </div>
                        <h3 class="text-center">Clases</h3>
                    </div>
                </div>
                <div class="col col-12 col-md-6 col-lg-4 p-1">
                    <div class="caja-modulo" @click="$router.push({name: 'admin-configuracion'})">
                        <div class="d-flex justify-content-center mb-2">
                            <div class="caja-modulo__circulo">
                                <i class="fas fa-user-cog caja-modulo__icon"></i>
                            </div>
                        </div>
                        <h3 class="text-center">Configuración</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {

    }
</script>
